{% extends "index.html" %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" src="{{url_for('static',filename='css/dashboard.css')}}">    
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="two">
        <span>작성자</span>
        <input type="text" id="userid" name="writer" disabled/>
    </div>
    <div class="two">
        <span>제목</span>
        <input type="text" id="title" name="title" disabled/>
    </div>
    </br>
    <div class="three">
        <span>내용</span>
        <textarea id="contents" name="contents" readonly></textarea>
    </div>
    <div class="four" style="text-align: center; margin-top: 10px;">
        <input type="button" id="SaveBtn" name="SaveBtn" value="Save" onclick="onclick_save();" class="btn"/>
        <input type="button" id="BackBtn" name="BackBtn" value="Back" onclick="onclick_back();" class="btn"/>
    </div>
</div>
{% endblock %}

{% block extent %}
    {{ super() }}
    <script>
    //alert(window.location.search)

    function onclick_save()
    {   
       
    }

    function onclick_back()
    {
        window.location.href = "/board"
    }
    </script>
{% endblock %}

