<html lang="kr">
    <head>
        <meta charset="utf-8">
        <script src="{{url_for('static',filename='js/common.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" src="{{url_for('static',filename='css/dashboard.css')}}">    
    </head>
    <body>
        <div>
            <span>내용</span></br>
            <textarea id="contents" name="contents" style="resize: none; width:50%; min-height:300px;" readonly></textarea>
        </div>
    </body>
    <script>
        
    </script>
</html>