<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>        
    </head>
    <body>
        <h1>Login page</h1>
        ID<input type="text" id="userid" name="userid" >
        PW <input type="password" id="password" name="password" >
        <button type="button" onclick="post_login()">login</button>
        <button type="button" onclick="location.href='/login/register'">register</button>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        function post_login() {
            var id = $('#userid').val();
            var pw = $('#password').val();
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5040/api/user/login',
                data:  JSON.stringify({"pw": pw, "userid": id}),
                beforeSend: function (xhr) {
                     xhr.setRequestHeader("Content-type","application/json");
                     //xhr.setRequestHeader("Authorization","JWT " + token);
                },
                success: function (response) {
                    console.log(response)
                },
                error: function(xhr, exception) {
                    console.log("error > xhr.status:" + xhr.status + "error > exception: " + exception);
                },
                complete: function(response, status, xhr) {
                    console.log(response);
                }
            });
        }
    </script>
</html>