<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>      
        <script src="{{url_for('static',filename='js/common.js')}}"></script>
    </head>
    <body>
        <h1>Login page</h1>
        <div id="login">
            ID<input type="text" id="userid" name="userid" >
            PW <input type="password" id="password" name="password" >
            <button type="button" onclick="post_login()">login</button>
            <button type="button" onclick="location.href='/login/register'">register</button>
        </div>
        <div id="signin">
            <button type="button" onclick="logout()">logout</button>
            <span id="msg"> </span>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        var token = $.cookie('token');

        if(token == undefined)
        {
            $("#login").css("display","block");
            $("#signin").css("display","none");
        }
        else
        {
            $("#login").css("display","none");
            $("#signin").css("display","block");
            get_userinfo();
        }

        function post_login() {
            var id = $('#userid').val();
            var pw = $('#password').val();
            $.ajax({
                type: 'POST',
                url: api.url + '/user/login',
                data:  JSON.stringify({"pw": pw, "userid": id}),
                beforeSend: function (xhr) {
                     xhr.setRequestHeader("Content-type","application/json");
                },
                success: function (response) {
                    var resultCode = response['resultCode'];
                    var resultMsg = response['resultMsg'];
                    if(resultCode == 200)
                    {
                        $.cookie('token', resultMsg);
                        $("#login").css("display","none");
                        $("#signin").css("display","block");
                        get_userinfo();
                    }
                },
                error: function(xhr, exception) {
                    console.log("error_status : " + xhr.status);
                    console.log("error_Msg : " + xhr.responseText);
                    var err = JSON.parse(xhr.responseText)
                    console.log("error_resultCode : " + err['resultCode'])
                    alert(err['resultMsg'])
                },
                complete: function(response, status, xhr) {
                    console.log(response);
                }
            });
        }

        function logout(){
            $.removeCookie('token');
            token = undefined;
            location.reload();
        }

        function get_userinfo(){
            token = $.cookie('token');
            if(token == undefined)
            {
                alert("None token")
            }
            else
            {
                $.ajax({
                type: 'GET',
                url: api.url + '/user',
                beforeSend: function (xhr) {
                     xhr.setRequestHeader("Content-type","application/json");
                     xhr.setRequestHeader("Authorization",token);
                },
                success: function (response) {
                    var resultCode = response['resultCode'];
                    var resultMsg = response['resultMsg'];
                    if(resultCode == 200)
                    {
                        //alert(resultMsg);
                        $('#msg').text("signin : " + resultMsg['userid']);
                    }
                },
                error: function(xhr, exception) {
                    console.log("error_status : " + xhr.status);
                    console.log("error_Msg : " + xhr.responseText);
                    var err = JSON.parse(xhr.responseText);
                    console.log("error_resultCode : " + err['resultCode'])
                    if(err['resultCode'] == 406)
                    {
                        alert(err['resultMsg']);
                        $.removeCookie('token');
                    }
                },
                complete: function(response, status, xhr) {
                    console.log(response);
                }
            });
            }
        }
    </script>
</html>