<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register Form</title>
        <script src="{{url_for('static',filename='js/common.js')}}"></script>
    </head>
    <body>
        <div>
            <h1>회원가입</h1>
        </div>
        <div>
            <div>
                <label for="userid">아이디</label>
                <input type="text" id="userid" placeholder="아이디" name="userid"/>
            </div>
            <div>
                <label for="username">이름</label>
                <input type="text" id="username" placeholder="이름" name="username"/>
            </div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" id="password" placeholder="비밀번호" name="password"/>
            </div>
            <div>
                <label for="re_password">비밀번호 확인</label>
                <input type="password" id="re_password" placeholder="비밀번호 확인" name="re_password"/>
            </div>
            <button type="button" onclick="post_register()">register</button>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        function post_register() {
            var userid = $('#userid').val();
            var usernm = $('#username').val();
            var pw = $('#password').val();
            var re_pw = $('#re_password').val();
            
            if(pw != re_pw)
            {
                alert('Confirm password match');
                return;
            }

            $.ajax({
                type: 'POST',
                url: api.url + '/user',
                data:  JSON.stringify({"pw": pw, "userid": userid, "username": usernm}),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Content-type","application/json");
                },
                success: function (response) {
                    var msg = response['resultMsg']
                    alert(msg)
                    window.location.href = "/index"
                },
                error: function(xhr, exception) {
                    console.log("error_status : " + xhr.status);
                    console.log("error_Msg : " + xhr.responseText);
                    var err = JSON.parse(xhr.responseText)
                    console.log("error_resultCode : " + err['resultCode'])
                    alert(err['resultMsg'])
                }
            });
        }
    </script>
</html>